@font-face {
    font-family: 'Felt_Tip_Woman';
    src: url(felt.otf);
}
@font-face {
    font-family: 'alteHassGrotesk_Bold';
    src: url(assets/AlteHaasGroteskBold.ttf);
}
@font-face {
    font-family: 'alteHassGrotesk_Regular';
    src: url(assets/AlteHaasGroteskRegular.ttf);
}
/* .myDiv{
    border: 1px solid black;
    width: 150vw;
    height: 170vh;
    position: absolute;
}
.move {
    background-color: aqua;
    overflow: hidden;
    z-index: 0;
    width: 150vw;
    height: 170vh;
    
} */
#about{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 12pt;
    position: fixed;
    position:-webkit-sticky;
    top: 15px; 
    left: 48%;
    border: none;
    background-color: transparent;
    z-index: 1000000;
    border: 1px solid, black;
    background-color: #FFF9F1;
    padding: 0.5rem;
    border-radius: 2rem;

}
#about:hover{
    background-color:#fff9e3;
}
#map{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 12pt;
    position: fixed;
    top: 15px; 
    left: 48%;
    border: none;
    background-color: transparent;
    z-index: 1000000;
    border: 1px solid, black;
    background-color: #FFF9F1;
    padding: 0.5rem;
    border-radius: 2rem;
} 
#right-swipe{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 12pt;
    position: fixed;
    top: 50%; 
    right:10%;
    border: none;
    background-color: transparent;
    z-index: 1000000;
    border: 1px solid, black;
    background-color: #FFF9F1;
    padding: 0.5rem;
    border-radius: 2rem;
}
#left-swipe{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 12pt;
    position: fixed;
    top: 50%; 
    left:10%;
    border: none;
    background-color: transparent;
    z-index: 1000000;
    border: 1px solid, black;
    background-color: #FFF9F1;
    padding: 0.5rem;
    border-radius: 2rem;
}
#site{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 12pt;
    position: fixed;
    bottom: 50px; 
    left: 48%;
    border: none;
    background-color: transparent;
    z-index: 1000000;
    border: 1px solid, black;
    background-color: #FFF9F1;
    padding: 0.5rem;
    border-radius: 2rem;
}
#demo{
    position: fixed;
    right: 20px;
    z-index: 1000000;
}
.grid{
    position: absolute;
    inset: 0;
    /* height: 423vh;
    width: 317vw; */
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
    z-index: -100;
}
body{
    background-color: #FFF9F1;
}
.align{
    display: inline-flex;
    padding: 20px;
    gap: 20px;
    margin-left: 60%;
}
#clock{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 11pt;
    margin-top: 8%;
    margin-left: 90%;
    align-items: flex-end;
}
.wrapper{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutCard a{
    font-family: 'alteHassGrotesk_Bold';
    font-size: 11pt;
    margin-top: 5%;
    text-decoration: none;
    color: black;
}
.aboutCard{
    display: flex;
    position: fixed;
    width: 715px;
    height: 477px;
    background-color: #FBF8EC;
    z-index: 100;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}
.verticleLine{
    display: inline-block;
    border-left: 1.5px solid black;
    height: 450px;
    margin-top: 2%;   
}
.landingPageTextBox{
    display: inline-block;
    margin-top: 7%;
    margin-left: 35px;
    width: 44%;
}
.rightContainer{
    display: inline-block;
    flex-direction: column;
}
.address{
    margin-top: 80%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    width: 230px;

}
.address > .horizontalLine {
    border-top: 1.5px solid black;
    width: 200px;
    padding: 8%;
    margin-left: 25%;
    

}
[class^="frontCard-"]{
    margin: 20px;
    width: 715px;
    height: 477px;
    background-color: #FBF8EC;
}
[class^="backCard-"]{
    display: flex;
    position: fixed;
    padding: 10px;
    margin: 20px;
    width: 715px;
    height: 477px;
    background-color: #FBF8EC;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}
.left{
    padding:15;
}
.right{
    padding:15;
}
#tag{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 11pt;
    text-transform: uppercase;
    line-height: 3pt;
}
#time{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 10pt;
    text-align: right;
    padding-top: 10;
}
#location{
    font-family: 'alteHassGrotesk_Regular';
    font-size: 10pt;
    line-height: 11pt;
    text-align: right;
    position:absolute;
    bottom: 20px;
    right:20px;
}
/* .slidein-from-right {
    -webkit-animation: slide 500ms;
}
@-webkit-keyframes slide {
    from {
        opacity: 0;
        -webkit-transform:translateX(100%);
    }
    to {
        opacity: 1;
        -webkit-transform:translateX(0%);
    }
} */
h1{
    color: #FFF9F1;
    display: flex;
    justify-content: center;
    position:-webkit-sticky;
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}
h4{
    color: #FFF9F1;
    font-family: 'alteHassGrotesk_Regular';
    display: flex;
    justify-content: center;
    position:-webkit-sticky;
    position: fixed;
    bottom: 0px;
    font-size: 12pt;
    width: 100%;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}
h2{
    font-family: 'alteHassGrotesk_Bold';
    font-size: 20pt;
    line-height: 0; 
    text-transform: uppercase;
}
h3{
    font-family: 'alteHassGrotesk_Bold';
    font-size: 20pt;
}
p{
    font-family: "The Girl Next Door",cursive;
    font-size: 13pt;
    line-height: 16pt;
    margin-left: 5%;
    /* width: 45%; */
}
p2{
    margin-left: 40%;
    font-family: "The Girl Next Door",cursive;
    font-size: 16pt;
    line-height: 10pt;
}
p3{
    font-family: "The Girl Next Door",cursive;
    font-size: 13pt;
    line-height: 16pt;
    height:80%;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    gap:5px;
    position:-webkit-sticky;
    position: fixed;
    bottom: 15px;
    z-index: 100;
    width: 100%;
}

#all, #anedotes, #rediscover, #artifacts{
    cursor: pointer;
    font-family: 'alteHassGrotesk_Regular';
    font-size: 12pt;
    border: 1px solid, black;
    background-color: #FFF9F1;
    padding: 0.5rem;
    border-radius: 2rem;
    margin: 0.1rem;
    opacity: 0.5; 
}

#all:hover{
    background-color:#fff9e3;
}
#anedotes:hover{
    background-color:#fff9e3;
}
#artifacts:hover{
    background-color:#fff9e3;
}
#rediscover:hover{
    background-color:#fff9e3;
}

/* Zoom effect */
#at1:hover {
    transform: scale(3.7);
    z-index: 100;
}
#at2:hover {
    transform: scale(3.5);
    z-index: 100;
}
#at4:hover {
    transform: scale(3.5);
    z-index: 100;
}
#at6:hover {
    transform: scale(3.5);
    z-index: 100;
}
#at7:hover {
    transform: scale(3.5);
    z-index: 100;
}
#at8:hover {
    transform: scale(3.5);
    z-index: 100;
}
#at9:hover {
    transform: scale(3.5);
    z-index: 100;
}
#at10:hover {
    transform: scale(3.5);
    z-index: 100;
}
#at11:hover {
    transform: scale(3.5);
    z-index: 100;
}
.caption {
    font-family: 'alteHassGrotesk_Regular';
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 14px;
}

span:hover {
    opacity: 1;
}

.board-items{
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s; /* Smooth zoom on ho ver */
} 
/* copenhagen kronborg castle */
#i1{
    /* left: 190vw;
    top: 5vh; */
    top:3%;
    left:20%;
}
#at10{
    /* left: 193vw;
    Top: 30vh;
    transform: rotate(3deg); */
    top:15%;
    left:20%;
}

/* amesterdamn */
#at1{
    /* left: 102vw;
    Top: 62vh; */
    top:2%;
    left:39%;
}
#a1{
    /* left: 105vw;
    Top: 27vh; */
    top:10%;
    left:40%
}
#v11{
    left: 85vw;
    Top: 65vh;

}
/* amesterdamn windmill */
#v3{
    left: 90vw;
    Top: 25vh;
}
/* amesterdamn henieken */
#v4{
    left: 110vw;
    Top: 60vh;
}
/* london football */
#v14{
    left: 31vw;
    Top: 47vh;
}
/* london bigben */
#v1{
    left: 33vw;
    Top: 75vh;
}
/* london tower bridge */
#v2{
    left: 50vw;
    Top: 70vh;
}
/* paros */
#at2{
    /* left: 260vw;
    Top: 370vh; */
    top:65%;
    left:45%;
}
#p1{
    /* left: 295vw;
    Top: 395vh;
    transform: rotate(3deg); */
    top:70%;
    left:50%;
}
#v7{
    left: 275vw;
    Top: 390vh;
}

/* spain */
#s1{
    /* left: 15vw;
    top: 370vh; */
    left:7%;
    bottom:7%;
}
#s2{
    /* left: 20vw;
    top: 345vh; */
    right:3%;
    top:10%;
}
#s3{
    /* left: 40vw;
    top: 355vh; */
    right:15%;
    top:10%;
}
#s4{
    /* left: 35vw;
    top: 380vh; */
    top:7%;
    left:7%;
}
#v16{
    left: 50vw;
    Top: 380vh;
}

/* zurich */
#v5{
    left: 140vw;
    Top: 155vh;
}
/* bern */
#v12{
    left: 118vw;
    Top: 165vh;
}
#v15{
    left: 104vw;
    Top: 170vh;
}
/* grindewald */
#v6{
    left: 135vw;
    Top: 195vh;
}
#v13{
    left: 155vw;
    Top: 205vh;
}
#at11{
    /* left: 125vw;
    Top: 205vh; */
    top:8%;
    left:75%;
}

/* dublin */
#v8{
    left: 5vw;
    Top: 15vh;
}
#d1{
    left: 2%;
    Top: 40%;
}

/* naples */
#v9{
    left: 200vw;
    Top: 290vh;
}
#at4{
    /* left: 205vw;
    Top: 355vh; */
    top:83%;
    left:73%;
}
#at6{
    /* left: 210vw;
    Top: 320vh; */
    top:46%;
    left:77%;
}
#c1{
    /* left: 215vw;
    Top: 353vh; */
    left:68%;
    top:55%;
}
/* rome */
#at8{
    /* left: 185vw;
    Top: 260vh; */
    top: 70%;
    left:20%;
}

/* prague */
#at7{
    /* left: 180vw;
    Top: 100vh; */
    top:31%;
    left:85%;
}
#cr1{
    /* left: 195vw;
    Top: 90vh; */
    top:40%;
    left:83%;
}
/* vienna */
#vi1{
    /* left: 220vw;
    Top: 130vh; */
    top:31%;
    left:26%;
}

/* paris */
#at9{
    /* left: 80vw;
    Top: 115vh; */
    top:63%;
    left:2%;
    z-index:10;
}
#v10{
    /* left: 75vw;
    Top: 125vh; */
    top:85%;
    left:1%;
}
#v17{
    /* left: 60vw;
    Top: 115vh; */
    left:4%;
    bottom:2%;
}






